<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
      
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/popup.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <style>

      
      
    </style>
  </head>
  <body>
    <div id="back">
    </div>


    <form id="fieldsetting" style="display: none;">
        <div style="width: calc( 100% - 10px ); margin-left: 5px; height: 40px;">
            <button id="fsback" style="display: inline;">&#60;</button>
            <hr class="fs">
         </div>
         <fieldset id="textsettings" style="display: none;">
             <label for="nameset">Name:</label>
             <input type="text" value="" id="nameset">
             <label for="typeset">Name:</label>
             <input id="typeset" list="typelistset">
             
             <datalist id="typeset">
                 <option value="Text">
                 <option value="List">
             </datalist>
         </fieldset>
         <fieldset id="listsettings" style="display: none;">
             
             
         </fieldset>
         <button style="background: grey;" id="settingset"></button>
     </form>

     <script src="../public/js/addfield.popup.js"></script>
    </body>
  </html>