<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="../public/css/board-bar.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <style>

      
      
    </style>
  </head>
  <body style="background: lightgrey; padding: 5px;">
    <div id="back">
    </div>
    <div style="display: grid; grid-template-columns: 110px calc( 100% - 160px ) 40px; grid-auto-rows: 100%; grid-column-gap: 5px; width: 100%; height: 195px;">
        <div id="leftbardiv">
          
              <div id="leftmenu" style="height: calc( 100% - 6px ) ; width: 80px; display: inline-block; z-index: 5;">
                <div style="height: 100% ; width: 65px;" class="metal hui shadowed">

                </div>
                <div style="margin-top: -195px; z-index: 5;">
                  <div id="homemenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/smile.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 15px;" class="circle-link icon menuicon"></div>
                  <!--search--><div id="cellmenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/cell.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 47;" class="circle-link icon menuicon"></div>
                  <div id="tablemenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/table.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 83;" class="circle-link icon menuicon"></div>
                  <div id="dashmenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/dashboard.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 120;" class="circle-link icon menuicon"></div>
                  <div id="teammenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/team.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 155;" class="circle-link icon menuicon"></div>
              
                </div>
              </div>
              <div style="width: 30px; height: calc( 100% - 5px ); display: block; margin-left: -15px; margin-right: 10px; float: right;" id="circlesblock">

                <svg id="svgmask" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs id="svgdefs">
                    <style>
                      .smalltext{
                        font: italic 10px sans-serif;
                        letter-spacing: 2px;
                        fill: rgb(85, 85, 85);
                        transition: opacity 1s ease .2s;
                      }
                    </style>
                  

                    <clipPath id="homeshadow">
                      <circle cx="0" cy="34" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="cellshadow">
                      <circle cx="0" cy="66" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="tableshadow">
                      <circle cx="0" cy="101" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="dashshadow">
                      <circle cx="0" cy="138" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="teamshadow">
                      <circle cx="0" cy="173" r="22" fill="white" />
                    </clipPath>

                    <clipPath id="homeborder">
                      <circle cx="0" cy="34" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="cellborder">
                      <circle cx="0" cy="67" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="tableborder">
                      <circle cx="0" cy="102" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="dashborder">
                      <circle cx="0" cy="139" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="teamborder">
                      <circle cx="0" cy="174" r="21" fill="white" />
                    </clipPath>
                    
                    <clipPath id="homeclip">
                      <circle cx="0" cy="34" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="cellclip">
                      <circle cx="0" cy="67" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="tableclip">
                      <circle cx="0" cy="102" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="dashclip">
                      <circle cx="0" cy="139" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="teamclip">
                      <circle cx="0" cy="174" r="20" fill="white" />
                    </clipPath>
                  </defs>

                  <path id="homepath" d="M 0, 34
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="hometextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 1;">
                    <textPath xlink:href="#homepath" id="hometextpath">Home</textPath>
                  </text>

                  <path id="cellpath" d="M 0, 66
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="celltextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#cellpath" id="celltextpath">Fields</textPath>
                  </text>

                  <path id="tablepath" d="M 0, 101
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="tabletextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#tablepath" id="tabletextpath">Table</textPath>
                  </text>

                  <path id="dashpath" d="M 0, 138
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="dashtextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#dashpath" id="dashtextpath">Dashboard</textPath>
                  </text>

                  <path id="teampath" d="M 0, 173
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="teamtextel" dx="65" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#teampath" id="teamtextpath">Team</textPath>
                  </text>
                  
                </svg>
                <div id="homecircleshad">
                </div>
                <div id="homecircleborder">
                </div>
                <div id="homecircle" class="metal hui">
                </div>
                <div id="cellcircleshad">
                </div>
                <div id="cellcircleborder">
                </div>
                <div id="cellcircle" class="metal hui">
                </div>
                <div id="tablecircleshad">
                </div>
                <div id="tablecircleborder">
                </div>
                <div id="tablecircle" class="metal hui">
                </div>
                <div id="dashcircleshad">
                </div>
                <div id="dashcircleborder">
                </div>
                <div id="dashcircle" class="metal hui">
                </div>
                <div id="teamcircleshad">
                </div>
                <div id="teamcircleborder">
                </div>
                <div id="teamcircle" class="metal hui">
                </div>
    
                
              </div>
          </div>
          <script>
            var widmask = document.getElementById("circlesblock").clientWidth;
            var heimask = document.getElementById("circlesblock").clientHeight;

            document.getElementById("svgmask").setAttribute("width", widmask);
            document.getElementById("svgmask").setAttribute("height", heimask);

            document.getElementById("svgmask").setAttribute("viewBox", "0 0 "+widmask+" "+heimask);

            function setMenus(id){
              var str = id.split("menu")[0];
              var els = [str+"circleshad", str+"circleborder", str+"circle"];
              els.forEach(function(el){
                el = document.getElementById(el);
                el.style.width = widmask+"px";
                el.style.height = heimask+"px";
                el.style["margin-top"] = -heimask+"px";
              });
            }
            
            var menus = ["homemenu","cellmenu","tablemenu","dashmenu","teammenu"];
            menus.forEach(setMenus);

            function showing(str){
              var el = document.getElementById(str+"circle");
              el.style["clip-path"] = "url(#"+str+"clip)";
              el.style["margin-left"] = "0";
              el.style.opacity = "1";
              el = document.getElementById(str+"circleshad");
              el.style["clip-path"] = "url(#"+str+"shadow)";
              el.style["margin-left"] = "0";
              el.style.opacity = "0.15";
              el = document.getElementById(str+"circleborder");
              el.style["clip-path"] = "url(#"+str+"border)";
              el.style["margin-left"] = "0";
              el.style.opacity = "1";
              el = document.getElementById(str+"menu");
              el.style["margin-left"] = "50px";
              document.getElementById("hometextel").style.opacity = 1;
              document.getElementById(str+"textel").style.opacity = 1;
            }
            
            function over(elem){
              var str = elem.target.id.split("menu")[0];
              showing(str);
              document.getElementById(elem.target.id).removeEventListener("mouseover",over);
              var others = menus.filter((str) => str != elem.target.id);
              setout(others);
            }

            function setout(arr){
              arr.forEach(function(id){
                var str = id.split("menu")[0];
                document.getElementById(str+"textel").style.opacity = 0;
                var els = [str+"circleshad", str+"circleborder", str+"circle"];
                els.forEach(function(el){
                  document.getElementById(el).style.opacity = "0";
                  document.getElementById(el).style["margin-left"]="-20px";
                });
                var el = document.getElementById(id);
                el.style["margin-left"] = "18px";
                el.addEventListener("mouseover",over);
              });
              showing("home");
            }

            function menuout(){
              setout(menus);
            }

            menus.forEach(function(id){
              document.getElementById(id).addEventListener("mouseover",over);
            });

            document.getElementById("leftmenu").addEventListener("mouseleave",menuout);
            showing("home");
            

          </script>
        <div style="display: grid; grid-template-columns: calc( ( 100% - 10px ) / 3) calc( ( 100% - 10px ) / 3) calc( ( 100% - 10px ) / 3); grid-auto-rows: 100%; grid-column-gap: 5px; width: 100%; height: 100%;">
          <div class="blured radied">
            <div class="card block2" style="padding: 15px; width: calc( 100% - 45px ); height: calc( 100% - 50px ); margin-left: 5px; margin-top: 5px;">
              
              <div style="display: none;">
                <div style="width: 40px; height: 40px; background: url('https://ihorkulinich.github.io/js-v1/img/pers.png') no-repeat; background-size: contain; display: inline-block;"></div>
                <h2 style="display: inline;">Cabinet</h2><br>
                <p>Some text ala cabinet</p>
              </div>
              
              <button id="addfield" class="CTA emerald" style="padding: 5px 10px 0px 10px; width: calc( 100% - 20px ); text-align: center;">
                <p style="font-size: 14px;">Add field</p>
              </button>

              <form id="addfieldset" style="margin-top: -15px;">
                <fieldset id="textsettingsb" style="display: none;">
                  <label for="namesetb">Name:</label>
                  <input type="text" value="" id="namesetb" style="width: 100%;">
     
                  <label for="typelistsetb" style="margin-top: -5px;">Type:</label>
                  <select id="typelistsetb" class="minimal" style="width: 100%;" disabled>
                      <option></option>
                      <option value="Text">Text</option>
                      <option value="List">List</option>
                  </select>
              </fieldset>

              <div class="horizonted" style="padding: 0; display: none;" id="optsbdiv">
                <fieldset class="manylegends setter" id="listsettingsb" style="height: 40px; margin-top: 10px; margin-left: 0px; width: 300px;">
                   <legend>
                     Options list
                   </legend>
                   
                 </fieldset>
                 <fieldset class="manylegends"style="height: 40px; margin-top: 30px; margin-left: 0px; width: 300px;" id="listaddtingsb">
                   <legend>
                       <button class="CTA white-matte" style="padding: 5px 10px 10px 10px; width: 100px; text-align: center; margin-top: 7px;" id="addoptb">
                           <p style="margin-left: 0px; margin-bottom: 0px; font-size: 10px;">
                           Add option
                           </p>
                       </button>
                   </legend>
                   
                 </fieldset>
       
                 <fieldset class="dopgrid" id="addoptsfieldb" style="width: 100%; max-height: 180px; overflow-y: scroll; margin-top: -10px; margin-left: 0px;">
                   <label for="optionsetb" style="display: inline-block;">Option value:</label>
                   <input type="text" value="" id="optionsetb" style="width: 140px; display: inline-block; margin-left: 10px;">
                 </fieldset>
       
               </div>
                <!--  <script>
                   var manylegends = document.querySelectorAll(".manylegends");
                   var setmanylegends = document.querySelectorAll(".dopgrid");
                   
                   setmanylegends.forEach((setter,index) => {
                     console.log(setter);
                     var width = "calc( 100% - 10px )";
                     var height = setter.offsetHeight != 0 ? setter.offsetHeight : 150;
                     var top = setter.offsetTop;
                     var left = setter.offsetLeft;
                     console.log(height+", "+top+", "+left);
                     for (var i=0; i<2 && manylegends.length >= i+index+1; i++){
                       var now = index*2+i; 
                       var style="width: "+width+"; height: "+(height)+"px; ";
                      if (Math.trunc(now/2)===now/2){
                        style+= "margin-top:"+(top-40)+"px; margin-left:"+left+"px;";
                      } else {
                        style+= "margin-top:"+(top-20)+"px; margin-left:"+left+"px;";
                      }
                    console.log(style);   
                    manylegends[now].setAttribute("style", style);
                    console.log(manylegends[now]);
                   }
                   }); 
                 </script>-->
                
                <div style="width: calc( 100% - 30px ); padding: 5px; margin-top: -20px; height: 30px; display: none; grid-template-columns: 50% 50%; grid-column-gap: 10px; grid-auto-rows: 30px;" id="buttonsinpb">
                   <div>
                       <button id="settingsetb" class="CTA emerald" style="padding: 5px 10px 0px 10px; width: calc( 100% - 20px ); text-align: center;" disabled>
                           <p style="font-size: 14px;">Edit</p>
                       </button>
                   </div>
                   <div>
                       <a href="fieldlist.popup.html" class="CTA white-matte" style="padding: 5px 10px 10px 10px; width: calc( 100% - 20px ); text-align: center; margin-top: 7px;">
                           <p style="margin-left: 0px; margin-bottom: 0px; font-size: 14px;">
                           Cancel
                           </p>
                       </a>
                   </div>
               </div>

              </form>
            </div>
            
            

          </div>
          <div style="display: grid; grid-template-columns: 55% 20px calc( 45% - 20px ); grid-auto-rows: 80% 20%; ">
            
              <div style="background: url('https://ihorkulinich.github.io/js-v1/img/smile.png') no-repeat; background-size: contain; grid-row-start: 1; grid-row-end: 3;">
              </div>
              <div>
                <div class="leftArrow" style="border: 1px solid white; height: 30px; margin-top: 20px;">
                </div>
              </div>

                <div>

                  <div class="messages" style="width: calc( 100% - 10px); height: calc( 100% - 60px ); border-radius: 5px; position: relative; z-index: 3; display: block;"> 
                    
                  </div>
                  <div class="messages" style="width: calc( 100% - 20px); height: calc( 100% - 60px ); border-radius: 5px; position: relative; z-index: 2; left: 15px; top: calc( -100% + 24px ); display: block;"> 
                    
                  </div>
                  <div class="messages" style="width: calc( 100% - 30px); height: calc( 100% - 60px ); border-radius: 5px; position: relative; z-index: 1; left: 30px; top: calc( -200% + 47px); display: block;"> 
                    
                  </div>

                </div>

                <div style="grid-column-start: 2; grid-column-end: 4;">
                
                    <a href="#" class="left-button white-matte">
                      <span style="padding-left: 12px;">
                      &#8592;
                      </span>
                    </a>
                    <div style="margin-left: 60px; margin-top: -25px;">
                      <a href="#" class="thumb white-matte" style="text-align: center;">1</a>
                      <a href="#" class="thumb white-matte" style="text-align: center;">2</a>
                      <a href="#" class="thumb white-matte" style="text-align: center;">3</a>
                    </div>  
                    <a href="#" class="right-button white-matte" style="margin-left: 120px; margin-top: -25px;">

                      <span style="padding-left: 10px;">
                        &#8594;
                      </span>
                    </a>
                
                </div>

              </div>
            
          
          <div class="blured radied">
            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
              <div style="background: url('https://ihorkulinich.github.io/js-v1/img/wheel.png') no-repeat; background-size: contain;"></div>
              <div>
                <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">You can change some settings of this trello power-app</p>
              </div>
              <div>
                <a href="#" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;"><h2 style="margin-left: 0px; margin-bottom: 0px;">Settings</h2></a>
              </div>
            </div>

            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
              <div style="background: url('https://ihorkulinich.github.io/js-v1/img/faq.png') no-repeat; background-size: contain;"></div>
              <div>
                <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">You can look for some answer about this trello power-app</p>
              </div>
              <div>
                <a href="#" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;"><h2 style="margin-left: 20px; margin-bottom: 0px; margin-right: 20px;">F.A.Q.</h2></a>
              </div>
            </div>

            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
              <div style="background: url('https://ihorkulinich.github.io/js-v1/img/sug.png') no-repeat; background-size: contain;"></div>
              <div>
                <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">You can leave your opinion and wishes about this trello power-app</p>
              </div>
              <div>
                <a href="#" class="CTA white-matte" style=" margin-left: 20px;padding: 5px 10px 5px 10px;"><h2 style="margin-left: 30px; margin-bottom: 0px; margin-right: 30px;">Rate</h2></a>
              </div>
            </div>
            
          </div>
        </div>
        <div class="metal hui shadowed">
        </div>    
      </div>
    <script src="../public/js/board-bar.js"></script>
  </body>
</html>

