<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <link rel="stylesheet" href="../public/css/board-bar.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <style>

      
      
    </style>
  </head>
  <body style="background: lightgrey; padding: 5px;">
    <div id="back">
    </div>
    <div style="display: grid; grid-template-columns: 110px calc( 100% - 160px ) 40px; grid-auto-rows: 100%; grid-column-gap: 5px; width: 100%; height: 200px;">
        <div id="leftbardiv">
          
              <div id="leftmenu" style="height: calc( 100% - 6px ) ; width: 80px; display: inline-block; z-index: 5;">
                <div style="height: 100% ; width: 65px;" class="metal hui shadowed">

                </div>
                <div style="margin-top: -195px; z-index: 5;">
                  <div id="homemenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/smile.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 15px;" class="circle-link icon menuicon"></div>
                  <div id="cellmenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/cell.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 47;" class="circle-link icon menuicon"></div>
                  <div id="tablemenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/table.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 83;" class="circle-link icon menuicon"></div>
                  <div id="dashmenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/dashboard.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 120;" class="circle-link icon menuicon"></div>
                  <div id="teammenu" style="background: url('https://ihorkulinich.github.io/js-v1/img/team.png') no-repeat; background-size: contain; z-index: 5; position: absolute; margin-top: 155;" class="circle-link icon menuicon"></div>
              
                </div>
              </div>
              <div style="width: 30px; height: calc( 100% - 5px ); display: block; margin-left: -15px; margin-right: 10px; float: right;" id="circlesblock">

                <svg id="svgmask" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <defs id="svgdefs">
                    <style>
                      .smalltext{
                        font: italic 10px sans-serif;
                        letter-spacing: 2px;
                        fill: rgb(85, 85, 85);
                        transition: opacity 1s ease .2s;
                      }
                    </style>

                    <path id="hometext">
                      <circle cx="0" cy="34" r="22" fill="white" />
                    </path>

                    <clipPath id="homeshadow">
                      <circle cx="0" cy="34" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="cellshadow">
                      <circle cx="0" cy="66" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="tableshadow">
                      <circle cx="0" cy="101" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="dashshadow">
                      <circle cx="0" cy="138" r="22" fill="white" />
                    </clipPath>
                    <clipPath id="teamshadow">
                      <circle cx="0" cy="173" r="22" fill="white" />
                    </clipPath>

                    <clipPath id="homeborder">
                      <circle cx="0" cy="34" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="cellborder">
                      <circle cx="0" cy="67" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="tableborder">
                      <circle cx="0" cy="102" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="dashborder">
                      <circle cx="0" cy="139" r="21" fill="white" />
                    </clipPath>
                    <clipPath id="teamborder">
                      <circle cx="0" cy="174" r="21" fill="white" />
                    </clipPath>
                    
                    <clipPath id="homeclip">
                      <circle cx="0" cy="34" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="cellclip">
                      <circle cx="0" cy="67" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="tableclip">
                      <circle cx="0" cy="102" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="dashclip">
                      <circle cx="0" cy="139" r="20" fill="white" />
                    </clipPath>
                    <clipPath id="teamclip">
                      <circle cx="0" cy="174" r="20" fill="white" />
                    </clipPath>
                  </defs>

                  <path id="homepath" d="M 0, 34
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="hometextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#homepath" id="hometextpath">Home</textPath>
                  </text>

                  <path id="cellpath" d="M 0, 66
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="celltextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#cellpath" id="celltextpath">Fields</textPath>
                  </text>

                  <path id="tablepath" d="M 0, 101
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="tabletextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#tablepath" id="tabletextpath">Table</textPath>
                  </text>

                  <path id="dashpath" d="M 0, 138
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="dashtextel" dx="60" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#dashpath" id="dashtextpath">Dashboard</textPath>
                  </text>

                  <path id="teampath" d="M 0, 173
                    m -30, 0 
                    a 30,30 0 1,0 60,0 
                    a 30,30 0 1,0 -60,0" fill="transparent" />
                  <text id="teamtextel" dx="65" class="smalltext" textLength="300" lengthAdjust="spacing" style="opacity: 0;">
                    <textPath xlink:href="#teampath" id="teamtextpath">Team</textPath>
                  </text>
                  
                </svg>
                <div id="homecircleshad">
                </div>
                <div id="homecircleborder">
                </div>
                <div id="homecircle" class="metal hui">
                </div>
                <div id="cellcircleshad">
                </div>
                <div id="cellcircleborder">
                </div>
                <div id="cellcircle" class="metal hui">
                </div>
                <div id="tablecircleshad">
                </div>
                <div id="tablecircleborder">
                </div>
                <div id="tablecircle" class="metal hui">
                </div>
                <div id="dashcircleshad">
                </div>
                <div id="dashcircleborder">
                </div>
                <div id="dashcircle" class="metal hui">
                </div>
                <div id="teamcircleshad">
                </div>
                <div id="teamcircleborder">
                </div>
                <div id="teamcircle" class="metal hui">
                </div>
    
                
              </div>
          </div>
          <script>
            var widmask = document.getElementById("circlesblock").clientWidth;
            var heimask = document.getElementById("circlesblock").clientHeight;

            document.getElementById("svgmask").setAttribute("width", widmask);
            document.getElementById("svgmask").setAttribute("height", heimask);

            document.getElementById("svgmask").setAttribute("viewBox", "0 0 "+widmask+" "+heimask);

            function setMenus(id){
              var str = id.split("menu")[0];
              var els = [str+"circleshad", str+"circleborder", str+"circle"];
              els.forEach(function(el){
                el = document.getElementById(el);
                el.style.width = widmask+"px";
                el.style.height = heimask+"px";
                el.style["margin-top"] = -heimask+"px";
              });
            }
            
            var menus = ["homemenu","cellmenu","tablemenu","dashmenu","teammenu"];
            menus.forEach(setMenus);
            
            function over(elem){
              var str = elem.target.id.split("menu")[0];
              var el = document.getElementById(str+"circle");
              el.style["clip-path"] = "url(#"+str+"clip)";
              el.style["margin-left"] = "0";
              el.style.opacity = "1";
              el = document.getElementById(str+"circleshad");
              el.style["clip-path"] = "url(#"+str+"shadow)";
              el.style["margin-left"] = "0";
              el.style.opacity = "0.15";
              el = document.getElementById(str+"circleborder");
              el.style["clip-path"] = "url(#"+str+"border)";
              el.style["margin-left"] = "0";
              el.style.opacity = "1";
              el = document.getElementById(elem.target.id);
              el.style["margin-left"] = "50px";
              el.removeEventListener("mouseover",over);
              document.getElementById(str+"textel").style.opacity = 1;
              var others = menus.filter((str) => str != elem.target.id);
              setout(others);
            }

            function setout(arr){
              arr.forEach(function(id){
                var str = id.split("menu")[0];
                document.getElementById(str+"textel").style.opacity = 0;
                var els = [str+"circleshad", str+"circleborder", str+"circle"];
                els.forEach(function(el){
                  document.getElementById(el).style.opacity = "0";
                  document.getElementById(el).style["margin-left"]="-20px";
                });
                var el = document.getElementById(id);
                el.style["margin-left"] = "18px";
                el.addEventListener("mouseover",over);
              });
            }

            function menuout(){
              setout(menus);
            }

            menus.forEach(function(id){
              document.getElementById(id).addEventListener("mouseover",over);
            });

            document.getElementById("leftmenu").addEventListener("mouseleave",menuout);

          </script>
        <div style="display: grid; grid-template-columns: calc( ( 100% - 10px ) / 3) calc( ( 100% - 10px ) / 3) calc( ( 100% - 10px ) / 3); grid-auto-rows: 100%; grid-column-gap: 5px; width: 100%; height: 100%;">
          <div class="blured radied">
            <div class="card block2" style="width: calc( 100% - 25px ); height: calc( 100% - 25px ); margin-left: 5px; margin-top: 5px;">
              <div style="width: 40px; height: 40px; background: url('https://ihorkulinich.github.io/js-v1/img/pers.png') no-repeat; background-size: contain;"></div>
              <h2>Cabinet</h2><br>
              <p>Some text ala cabinet</p>
            </div>
            
            <button id="addfield">
                add field
              </button>
              <form id="addfieldset" style="margin-top: -5px;">
                
              </form>

          </div>
          <div>
            
              <div style="background: url('https://ihorkulinich.github.io/js-v1/img/smile.png') no-repeat; background-size: contain; height: 100%; width: 55%; display: inline;">
              </div>
              <div style="display: inline; height: 100%; width: 45%;"
              <div class="leftArrow darkedArrow" style="height: 50%;"></div>
              <div class="messages" style="width: calc( 100% - 10px); height: 100%; border-radius: 5px; position: relative; z-index: 3; display: block;"> 
                &#9888; status messagses
              </div>
              <div class="messages" style="width: calc( 100% - 20px); height: calc( 100% - 5px ); border-radius: 5px; position: relative; z-index: 2; left: 20px; top: calc( -100% + 8px); display: block;"> 
                messagses
              </div>
              <div class="messages" style="width: calc( 100% - 30px); height: calc( 100% - 15px ); border-radius: 5px; position: relative; z-index: 1; left: 40px; top: calc( -200% + 26px); display: block;"> 
                messagses
              </div>
            </div>
            
          </div>
          <div class="blured radied">
            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px;">
              <div style="width: 40px; height: 40px; background: url('https://ihorkulinich.github.io/js-v1/img/wheel.png') no-repeat; background-size: contain;"></div>
            </div>
            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px;">
              <div style="width: 40px; height: 40px; background: url('https://ihorkulinich.github.io/js-v1/img/faq.png') no-repeat; background-size: contain;"></div>
            </div>
            <div class="card block2" style="width: calc( 100% - 25px ); height: 42px; margin-left: 5px; margin-top: 5px;">
              <div style="width: 40px; height: 40px; background: url('https://ihorkulinich.github.io/js-v1/img/sug.png') no-repeat; background-size: contain;"></div>
            </div>
          </div>
        </div>
        <div class="metal hui shadowed">
        </div>    
      </div>
    <script src="../public/js/board-bar.js"></script>
  </body>
</html>

