<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
      
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/popup.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <style>

      
      
    </style>
  </head>
  <body style="background: lightgrey; padding: 5px;">
    <div id="back">
    </div>

    <div class="card block2" style="width: calc( 100% - 10px ); height: 42px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
        <div style="background: url('../img/fields.png') no-repeat; background-size: contain;"></div>
        <div>
          <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">Page with input fields</p>
        </div>
        <div>
          <a href="fieldssettings.popup.html" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;">
              <p style="margin-left: 0px; margin-bottom: 0px;">Fields</p>
            </a>
        </div>
    </div>

    <div class="card block2" style="width: calc( 100% - 10px ); height: 42px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
        <div style="background: url('../img/group.png') no-repeat; background-size: contain;"></div>
        <div>
          <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">Page with dynamic input fields groups</p>
        </div>
        <div>
          <a href="#" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;">
              <p style="margin-left: 0px; margin-bottom: 0px;">Fields groups</p>
            </a>
        </div>
    </div>

    <div class="card block2" style="width: calc( 100% - 10px ); height: 42px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
        <div style="background: url('../img/section.png') no-repeat; background-size: contain;"></div>
        <div>
          <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">
              Page with input fields sections
            </p>
        </div>
        <div>
          <a href="#" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;">
              <p style="margin-left: 0px; margin-bottom: 0px;">
                  Fields sections
                </p>
            </a>
        </div>
    </div>

    <div class="card block2" style="width: calc( 100% - 10px ); height: 42px; display: grid; grid-template-columns: 40px calc( 50% - 30px) calc( 50% - 30px); grid-auto-rows: 40px; grid-row-gap: 10px;">
        <div style="background: url('../img/autom.png') no-repeat; background-size: contain;"></div>
        <div>
          <p style="font-size: 10px; line-height: normal; margin-left: 15px; margin-top: 3px;">
              Page with input fields automatizations
            </p>
        </div>
        <div>
          <a href="#" class="CTA white-matte" style="margin-left: 20px; padding: 5px 10px 5px 10px;">
              <p style="margin-left: 0px; margin-bottom: 0px;">
                  Fields automatization
                </p>
            </a>
        </div>
    </div>

    <script src="../public/js/popup.js"></script>
  </body>
</html>