<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
      
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/popup.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <style>

      
      
    </style>
  </head>
  <body>
    <div id="back">
    </div>
    <script>
        console.log("width: "+document.body.clientWidth+", height: "+document.body.clientHeight);
    </script>
    <!-- 
        менюха, кнопка попап, кнопка вин
        поля(поля, группы, сектора, автоматизация)
        статус
        задачи и подзадачи
        переписка
        комменты аля слак
        чеклист
        таймер-трекер
        доки
    -->
    <div style="padding: 10px; width: 100%;">

        <a href="fields.popup.html" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 20%;">
                <div><img src="../img/fields.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Fields</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 15%;">
                <div><img src="../img/fields.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Statuses</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 23%;">
                <div><img src="../img/fields.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Tasks</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 23%;">
                <div><img src="../img/mails.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Mails</h2></div>
            </div>
        </a>
        
        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 15%;">
                <div><img src="../img/mails.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Comments</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 15%;">
                <div><img src="../img/mails.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Cheklist</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 23%;">
                <div><img src="../img/mails.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Times</h2></div>
            </div>
        </a>

        <a href="#" class="CTA white-matte choosepop">
            <div style="display: grid; grid-template-columns: 30px calc( 100% - 30px ); margin-left: 12%;">
                <div><img src="../img/folders.png" width="30px" height="30px"></div>
                <div><h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px; ">Documents</h2></div>
            </div>
        </a>

    </div>

    <script src="../public/js/popup.js"></script>
  </body>
</html>