<html>
  <head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
      
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/popup.css">
    <link rel="stylesheet" href="../public/css/card.css">
    <link rel="stylesheet" href="../public/css/icon.css">
    <link rel="stylesheet" href="../public/css/buttons.css">
    <link rel="stylesheet" href="../public/css/text.css">
    <style>

      
      
    </style>
  </head>
  <body style="background: lightgrey; padding: 5px;">
    <div id="back">
    </div>
    <script>
        console.log("width: "+document.body.clientWidth+", height: "+document.body.clientHeight);
    </script>
    <!-- 
        менюха, кнопка попап, кнопка вин
        поля(поля, группы, сектора, автоматизация)
        статус
        задачи и подзадачи
        переписка
        комменты аля слак
        чеклист
        таймер-трекер
        доки
    -->
    <div>
        <a href="fields.popup.html" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <img src="../img/fields.png" width="15px" height="15px">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Fields</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Statuses</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Tasks</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <img src="../img/mails.png"" width="15px" height="15px">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Mails</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Tasks</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Comments</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Cheklist</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Times</h2>
        </a>
        <a href="#" class="CTA white-matte" style="padding: 5px 10px 5px 10px;">
            <img src="../img/folders.png" width="15px" height="15px">
            <h2 style="margin-left: 10px; margin-bottom: 0px; margin-right: 10px;">Documents</h2>
        </a>
    </div>

    <form id="settingsgroup">
        <button id="fieldssettings">
            <p style="display: inline;">Data fields</p>
            <p style="text-align: rigth; display: inline;">></p>
        </button>
    </form>
    <form id="fieldsgroup" style="display: none;">
        <div style="width: calc( 100% - 10px ); margin-left: 5px; height: 40px;">
           <button id="fback" style="display: inline;">&#60;</button>
           <hr class="fss">
        </div>
    </form>
    <form id="fieldsetting" style="display: none;">
       <div style="width: calc( 100% - 10px ); margin-left: 5px; height: 40px;">
           <button id="fsback" style="display: inline;">&#60;</button>
           <hr class="fs">
        </div>
        <fieldset id="textsettings" style="display: none;">
            <label for="nameset">Name:</label>
            <input type="text" value="" id="nameset">
            <label for="typeset">Name:</label>
            <input id="typeset" list="typelistset">
            
            <datalist id="typeset">
                <option value="Text">
                <option value="List">
            </datalist>
        </fieldset>
        <fieldset id="listsettings" style="display: none;">
            
            
        </fieldset>
        <button style="background: grey;" id="settingset"></button>
    </form>
    <script src="../public/js/popup.js"></script>
  </body>
</html>