body{
    background: lightgrey;
    color: black;
}

.menuicon{
  border-radius: 20px; 
  height: 21px; 
  width: 21px; 
  margin-top: 8.5px;
  margin-left: 18px;
}

.menuicon:first-child{
  margin-top: 14px;
}

.menuicon:hover{
  margin-left: 50px;
}


/* Style overwrite */

.interactive:hover {
  cursor:pointer;
}

#homecircleshad, #cellcircleshad, #tablecircleshad, #dashcircleshad, #teamcircleshad{
  background-color: #777; 
  opacity: 0;
  transition: opacity 1s ease .1s, margin-left 1s ease .1s;
  margin-left: -20px;
}

#homecircleborder, #cellcircleborder, #tablecircleborder, #dashcircleborder, #teamcircleborder{
  background-color: #999; 
  opacity: 0;
  transition: opacity 1s ease .1s, margin-left 1s ease .1s;
  margin-left: -20px;
}

#homecircle, #cellcircle, #tablecircle, #dashcircle, #teamcircle{
  transition: opacity 1s ease .1s, margin-left 1s ease .1s;
  margin-left: -20px;
  opacity: 0;
}

.messages {
  background: rgba(255,255,255,0.001);
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.leftArrow {
  -webkit-clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
}

.leftArrow, .rightArrow {
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 95%;
  margin-top:5px;
  border: 3px solid rgba(255,255,255,0.8);
  box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.rightArrow {
  -webkit-clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
  clip-path: polygon(0% 100%, 100% 50%, 0% 0%);
}

.darkedArrow{
  background: rgba(255,255,255,0.5);
  border: 0;
}