body{
    scrollbar-3d-light-color: #c8e0f7;
    scrollbar-arrow-color: black;
    scrollbar-dark-shadow-color: black;
    scrollbar-face-color: #98bde0;
    scrollbar-highlight-color: #b6d1eb;
    scrollbar-shadow-color: #6c8dab;
    scrollbar-track-color: #e7eaec;

    margin: 0px;
    font-size: 12px;
    /*font-family: Tahoma, Arial, sans-serif;*/
    height: 100%;
}

#back{
    margin:0;
    margin-top: 0px;
    bottom: 0;
    position: fixed;
    background: url('../../img/bg.png') repeat, url('../../img/bg.jpg') repeat;
    background-blend-mode: lighten; /*lighten, difference,exclusion,multiply */
    height: calc( 100vh + 200px );
    width: 100vw; 
    z-index: -1;
}

.blured {
    background: rgba(255,255,255,0.001);
    border: 2px solid rgba(255,255,255,0.3);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.radied{
  border-radius: 7px;
}

.shadowed{
  border: 1px solid #999;
  border-bottom: 1px solid #666;
  box-shadow: inset 0px 0px 5px #999;
  box-shadow: 0px 2px 6px #777;
}

.metal {
  background: url('https://ihorkulinich.github.io/js-v1/img/menu.png') repeat-x #fff;
  border-radius: 10px;
  background-size: cover;
}

.metal2 {
  background: url('https://ihorkulinich.github.io/js-v1/img/menu.png') repeat-x #fff;
  border-radius: 10px;
  background-size: contain;
}
      
.hui {
  text-align: center;
  margin-left: 4px;
  margin-top: 4px;
  font-size: small;
}  